$menu-bar-font-active: #a89574
$menu-bar-hover-mob: #ebeef1
$menu-bar-font: #a7a7a7
$touch-menu-hover: black
$mob-menu-background: white
$line-mob-menu: #d7d6d6

// colors jumbortron background
$jumbotron-m-b-0-baground: #2a2a2a
$h1-Purus-jumb-1: #a59477
$p-jumbortron: #c7c7c7
$jumbotron-grey-background: #eeeeee
$jumbotron-bottom1: #393939
$jumbotron-bottom2: #333333

//Заголовки
$zagolovok: #767676

//Параграфи
$p-font-color: #818181

//Кнопки 
$btn-jumb: #a59476
$btn-see-pricing: #a57780
$p: #a59476
$btn-sumbit-border: #9e9e9e
$btn-sumbit: #acaaaa

//border
$border-see: #a16a75
$border-purchaps: #96866c

//number
$number: #a89574

//Recent posts 
$recent-lv: #a89574

//шапка нижня
$p-font-color-daylite: #d2d2d2
// низ col-md-3
$h6-font-color-daylite: #efefef